<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="engineer.echo.yi">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="${NETWORK_SECURITY_CONFIG}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/CommonEasyAppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:label">
        <activity
                android:name=".ui.mock.ApiMockActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>